body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68;
    color: white;
}
.heading-main{
    font-family: "Montserrat-Black", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* navigation bar */

.navbar{
    /* padding-bottom: 4.5rem;  <-- this didn't work for me*/
     margin-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

i{
    margin: 1px 5px;
}

.button{
    margin: 5% 3% 5% 0;
}

/* Title image */
.title-image{
    
    position: absolute;
    width:20%;
    transform:rotate(22deg);
    right:30%;
   
}

/* features */
#features{
    text-align: center;
    padding:7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.flogo{
    margin: 20px;
    color: #ef8172;
}
.flogo:hover{
    color:#ff4c68
}
.testimonial-text{
    font-family: 'Montserrat', sans-serif;
    size: 3rem;
    line-height: 2;
    font-weight: bold;
} 
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
p{
    color: #8f8f8f;
}

/* Testimonials */
#testimonials{
    color: white;
    background-color: #ff4c68;
   
    text-align: center;
}
.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

/* press */
#press{
    padding-bottom: 3%;
    background-color: #ff4c68;
    text-align: center;
}

.press-image{
    width: 15%;
    margin:20px;
}

.carousel-item{
    padding: 7% 15%;
}

/* pricing */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-coloumn{
    padding: 3% 2%;
}

/* CTA */
#cta{
    font-family: 'Montserrat', sans-serif;
    background-color:#ff4c68 ;
    color: white;
    text-align: center;
}

.cta-foot{
    font-weight: bold;
  padding: 70px 10px;
}
.cta-button{
    
    margin: 5px;
    margin-bottom: 50px;
}

#footer{
    
   /* background-color: white;*/
    text-align: center;
    height: 100px;
}

.icon-container{
    padding: 20px;

}





@media (max-width:1028px){
    .title-image{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
    #title{
        text-align: center;
    }
}























/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */